@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.font-fancy {
  font-family: 'Pacifico', cursive;
}




@keyframes flasher {
  0% {
    background-color: #ff0000;
  }
  25% {
    background-color: #fff000;
  }
  50% {
    background-color: #00ff00;
  }
  75% {
    background-color: #0000ff;
  }
  100% {
    background-color: #ff00ff;
  }
}


.watermark {
  position: absolute;
  bottom: 4rem;
  right: 4rem;
  font-size: 4rem;
  font-weight: bold;
  color: white;
  opacity: 0.5;
}
